.cv-box {
  width: 200px;
  height: 200px;
  /* border: 1px solid black; */
  margin: auto;
  margin-top: 40px;
  text-align: center;
}
.cv-box img {
  width: 100px;
  transition: 0.5s;
}
.cv-box img:hover {
  width: 100px;
  transform: scale(1.2);
}
.cv-box a {
  text-decoration: none;
  color: black;
  transition: 0.9s;
}
.cv-background {
  background-color: rgb(254, 255, 250);
}
