.nav-item {
  list-style: none;
  display: inline;
  /* padding: 30px; */

  color: #fff;
  cursor: pointer;
  text-align: center !important;
  padding: 8px 40px;
  text-align: center;
}
.nav-item .nav-link:hover {
  color: rgb(56, 200, 236) !important;
}
.nav-item .nav-link {
  text-decoration: none;
  color: #fff !important;
  transition: 0.5s;
  text-align: center !important;
  padding: 0px 100px;
}
.bg-light {
  background-color: rgb(29 29 29) !important;
  text-align: center !important;
  padding: 10px;
  position: sticky;
  top: 0px;
}
@media screen and (max-width: 600px) {
  nav ul li {
    display: block;
  }
}

#navbarSupportedContent {
  margin-left: 20%;
}
